.login-page-main {
  height: 100%;
  overflow-x: hidden;
}

.login-page-bg {
  /* height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../../../public/auth_background.png) no-repeat 50% 50%;
  background-size: cover; */
  background: url(../../../public/auth_background.png) no-repeat 50% 50%;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
}

.login-page-left {
  padding-left: 10%;
}

.nnnnnn {
  padding-bottom: 30px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 58px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.005em;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-page-right {
  padding-left: 12%;
  /* align-items: center; */
  align-items: center;
}

.login-page-right-title {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 69px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;
  color: #dcf0be;
  padding-bottom: 30px;

  text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.25);
}

.login-page-right-text {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;
  color: #ffffff;
  width: 250px;
  text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.25);
}

.form-title {
  text-align: left;
  padding: 20px;
  color: #787878;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.form-title-id {
  display: flex;
}

input {
  border: none;
  border-bottom: 1px solid #787878;
  width: 100%;
}

input:focus {
  outline: none;
}

.login-submit-btn {
  padding: 30px;
}

.login-page-join {
  display: flex;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.login-page-link {
  display: flex;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #2b6e30;
  padding-left: 3px;
  cursor: pointer;
}

.join-btn {
  width: 100px;
  border-radius: 8px;
  background-color: white;
  border: 2px solid red;
  outline: none;
  color: red;
  font-weight: bold;
  transition: transform 30ms ease-in;
  font-size: 20px;
}

.login-page-right-item {
  margin: 15px;
}

.login_img {
  width: 350px;
  margin-right: 150px;
}
