.Mypage-section1-userinfo {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.Mypage-underline-orange > span {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #ffe1aa 40%);
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
}

.Mypage-tier-nickname {
  display: flex;
}

.Mypage-tier-img {
  width: 30px;
  padding-left: 5px;
  padding-bottom: 8px;
  margin: 5px;
}

.Mypage-study-list-box {
  margin: 3% 5%;
  padding-top: 30px;
}
