.Mypage-section1-userinfo {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.Mypage-underline-orange > span {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #ffe1aa 40%);
  font-weight: 900;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  color: black;
}

.Mypage-tier-nickname {
  display: flex;
  align-items: center;
  width: 40%;
}
.Mypage-section1-userInfo-h2 {
  padding-left: 3%;
}

.Mypage-tier-img {
  width: 4rem;
  margin-left: 3%;
}

.Mypage-study-list-box {
  margin: 3% 5%;
  padding-top: 30px;
}

.Mypage-icon {
  width: 120px;
  padding: 20px;
}

.Mypage-recommend-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

.Mypage-recommend-box-title {
  display: inline-flex;
  margin: 40px 0px;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  background: #ffffff;
  border: white;
  border-style: solid;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 29px;
  width: 40%;
  justify-content: space-around;
}

.Mypage-recommend-box-title-titleKo {
  font-style: normal;
  font-weight: 900;
  font-size: 165%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;
  color: black;
  margin-right: 3%;
  word-break: break-word;
}
.Mypage-recommend-box-content {
  margin: 40px 0px;
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 29px;
  flex-direction: column;
  padding: 1% 3%;
  font-style: normal;
  font-weight: 800;
  font-size: 135%;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
  color: black;
  width: 40%;
  justify-content: space-evenly;
}
.Mypage-recommend-box-content-text {
  display: inline-grid;
  justify-items: start;
}
.Algorithm-category {
  word-break: keep-all;
}

section.myPage-list-banner {
  padding: 80px 15%;
  background-color: #fffaf0;
  min-height: 450px;
}

.mypage-reload-Btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mystudy-search-result-title {
  color: #4b3200;
  font-weight: bold;
  font-size: 25px;
  text-align: start;
  margin: 10px 0px 20px 20px;
}
