.alert-modal-body {
    outline: none;
    border: 8px solid #D9AE81;
    border-radius: 8px;
    background-color: #2B6E30;
    height: 170px;
    width: 500px;
    padding-top: 30px;
}

.alert-btn {
    border-radius: 10px;
    background-color: #28500F;
    color: white;
    border: none;
    outline: none;
    padding: 5px 14px;
}

.alert-message {
    font-size: 20px;
    text-align: center;
    color: white;
}

.alert-footer {
    display: flex;
    justify-content: space-between;
}

.img-left {
    width: 80px;
    transform: translateX(-80px);
}

.img-right {
    width: 80px;
    transform: translate(70px);
}

.alert-close-btn {
    display: flex;
    justify-content: end;
}