.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  /* border: 1px solid #e2e2e2; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

.pagination li a {
  text-decoration: none;
  color: #4b3200;
  font-size: 15px;
}

.pagination li.active a {
  color: white;
}

.pagination li.active {
  background-color: #4b3200;
}

.pagination li a:hover,
.pagination li a.active {
  color: #4b3200;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #4b3200;
}

.disabled {
  background-color: #fffaf0;
  color: #fffaf0;
}
