/* Top */
section.study-list-banner {
  padding: 80px;
  background-image: url(../../../public/study_list_bg2.png);
  min-height: 450px;
  background-color: #fcebd9;
  background-repeat: no-repeat;
  background-position-x: center;
}

.study-list-banner > p {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.study-main-img {
  margin-bottom: 10px;
  width: 220px;
}

.study-highlight-green {
  color: #28500f;
  font-weight: 900;
}

.study-button {
  font-size: 15px;
  padding: 5px;
  margin-top: 30px;
}

/* middle */
.study-search {
  margin-top: 120px;
  margin-bottom: 50px;
  padding: 0 15%;
}

.study-search > p {
  font-weight: 700;
  margin-bottom: 2px;
}

.study-highlight-orange {
  color: #a06400;
  font-weight: 900;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}

.search-bar {
  display: flex;
  width: 100%;
}

.form-control:focus {
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: 1px solid rgba(75, 50, 0, 1);
  outline: 0;
  box-shadow: none;
}

.search-button {
  background-color: #4b3200;
  color: white;
  border-color: #4b3200;
}

.search-button:hover,
.search-button:active {
  background-color: white;
  color: #4b3200;
  border-color: #4b3200;
}

.btn-outline-success {
  --bs-btn-color: #4b3200;
  --bs-btn-border-color: #4b3200;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4b3200;
  --bs-btn-hover-border-color: #4b3200;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4b3200;
  --bs-btn-active-border-color: #4b3200;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #4b3200;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4b3200;
  --bs-gradient: none;
}

/* study list */
.study-list {
  width: 70%;
  margin: 0 15%;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #fffaf0;
  box-shadow: 7px 7px 15px rgba(200, 200, 200, 0.25);
}

.study-list-search {
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #fffaf0;
  box-shadow: 7px 7px 15px rgba(200, 200, 200, 0.25);
}

.study-tab-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.study-tab {
  background: none;
  border: none;
  outline: none;
  color: rgba(180, 180, 180, 1);
  font-weight: bold;
  font-size: 20px;
  transition: transform 30ms ease-in;
  width: 45%;
  padding: 15px;
  margin-top: 10px;
}

.study-tab-active {
  color: #4b3200;
  border-bottom: 2px solid #4b3200;
}

/* study list box */
.study-list-box {
  margin: 3% 5%;
}

/* Pagination */
/* buttonRedner */
.pageButtonBox {
  display: flex;
  /* position: fixed;
  bottom: 50px; */
}

.pageButton {
  padding: 2px 7px;
  border: none;
  background-color: white;
  color: rgb(150, 150, 150);
  font-size: 13px;
  cursor: pointer;
  margin: 0 5px;
  white-space: nowrap;
  align-items: baseline;
}

.pageButton:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.pageButtonActive {
  padding: 2px 7px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 13px;
  cursor: pointer;
  margin: 0 5px;
  white-space: nowrap;
}

.pageIcon {
  color: rgb(150, 150, 150);
  padding-bottom: 3px;
  font-size: 17px;
}

.pageIcon:hover {
  color: rgb(0, 0, 0);
}

.study-search-result-title {
  color: #4b3200;
  font-weight: bold;
  font-size: 25px;
  margin-left: 15px;
}

.study-search-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 30px 0;
}
