/* Top */
section.study-list-banner {
  background-color: rgba(250, 255, 230, 1);
  padding: 80px;
}

.study-main-img {
  margin-bottom: 40px;
}

.study-highlight-green {
  color: #28500f;
  font-weight: bold;
}

.study-underline-green {
  box-shadow: inset 0 -12px 0 #dcf0be;
  line-height: 42px;
  width: 80%;
  margin: auto;
  font-weight: bold;
  user-select: none;
}

.study-button {
  font-size: 15px;
  padding: 5px;
  margin-top: 30px;
}

/* middle */
.study-search {
  margin: 50px;
}

.study-highlight-orange {
  color: #a06400;
  font-weight: bold;
}

.study-underline-orange {
  box-shadow: inset 0 -12px 0 #ffe1aa;
  line-height: 42px;
  width: 80%;
  margin: auto;
  font-weight: bold;
  user-select: none;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.search-bar {
  display: flex;
  width: 80%;
}

.search-button {
  background-color: #4b3200;
  color: white;
  border-color: #4b3200;
}

.search-button:hover,
.search-button:active {
  background-color: white;
  color: #4b3200;
  border-color: #4b3200;
}

.btn-outline-success {
  --bs-btn-color: #4b3200;
  --bs-btn-border-color: #4b3200;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4b3200;
  --bs-btn-hover-border-color: #4b3200;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4b3200;
  --bs-btn-active-border-color: #4b3200;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #4b3200;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4b3200;
  --bs-gradient: none;
}

/* study list */
.study-list {
  width: 80%;
  margin: 0 10%;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #fffaf0;
  box-shadow: 7px 7px 15px rgba(200, 200, 200, 0.25);
}

.study-tab-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.study-tab {
  background: none;
  border: none;
  outline: none;
  color: rgba(180, 180, 180, 1);
  font-weight: bold;
  font-size: 20px;
  transition: transform 30ms ease-in;
  width: 45%;
  padding: 15px;
}

.study-tab-active {
  color: #4b3200;
  border-bottom: 2px solid #4b3200;
}

/* study list box */
.study-list-box {
  margin: 3% 5%;
}

.study-list-item {
  background-color: white;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.study-list-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.study-id {
  background-color: #4b3200;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.study-name {
  font-weight: 700;
  margin: 0 10px;
  cursor: pointer;
}

.study-number {
  margin-left: auto;
  margin-right: 10px;
}

.down-icon {
  width: 25px;
  height: 25px;
  color: #4b3200;
  cursor: pointer;
}

.down-icon:hover {
  color: rgba(75, 50, 0, 0.3);
}

.study-list-content {
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  width: calc(100% - 120px);
  margin: 7px 0;
  display: none;
}

.my-study-list-content {
  text-align: start;
  align-items: flex-start;
  width: calc(100% - 120px);
  margin: 7px 0;
  display: none;
}

.content-active {
  display: flex;
}

.my-study-description1 {
  flex-direction: column;
  width: 50%;
  /* border-right: 1px dashed #4b3200; */
  margin-right: 7px;
}

.my-study-description2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 100%;
  width: 50%;
  border-left: 1px dashed #4b3200;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.study-rank {
  font-weight: bold;
}
