.study-underline-orange {
  user-select: none;
  box-shadow: inset 0 -15px 0 rgba(255, 225, 170, 1);
  width: fit-content;
  line-height: 42px;

  font-weight: 700;
  font-family: "KOFIHDrLEEJWTTF-B";
}

.study-underline-green {
  user-select: none;
  box-shadow: inset 0 -15px 0 rgba(220, 240, 190, 1);
  width: fit-content;
  line-height: 42px;

  font-weight: 700;
  font-family: "KOFIHDrLEEJWTTF-B";
}

/* study-create */
.study-create-page-main {
  width: 100vw;
}

.study-create-page-bg {
  background: url(../../../public/auth_background.png) no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
}

.study-create-page-left {
  padding-left: 10%;
  padding-right: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.study-create-info {
  font-family: "GmarketSansMedium";
  font-weight: 300;
  text-align: start;
  margin-bottom: 5px;
  margin-top: 40px;
}

.study-create-title {
  margin-bottom: 30px;
  font-family: "KOFIHDrLEEJWTTF-B";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #000000;

  display: flex;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* form */
.study-create-form-title {
  text-align: left;
  margin-bottom: 25px;
  color: rgb(100, 100, 100);
  font-family: "GmarketSansMedium";
  font-weight: 500;
  width: 100%;
}

.study-create-form-info,
.study-create-form-title > label {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  margin-bottom: 3px;
  padding-left: 3px;
}

.study-create-form-second {
  display: flex;
  gap: 150px;
}

.study-create-input {
  border: none;
  border-bottom: 2px solid rgb(200, 200, 200);
  width: 100%;
  font-size: 20px;
  padding-bottom: 3px;
  transition: all 200ms ease-in;
}

.study-create-input::placeholder {
  color: rgb(200, 200, 200);
  font-size: 15px;
}

.study-create-input:focus {
  outline: none;
  border-bottom: 2px solid rgb(100, 100, 100);
  transition: all 200ms ease-in;
}

input[type="radio"] {
  display: none;
}

.study-create-radio + label {
  background-color: #ffffff;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 5px 12px 3px 12px;
  text-align: center;
  margin-right: 15px;
  color: rgb(180, 180, 180);
  transition: all 200ms ease-in;
}

.study-create-radio:checked + label {
  background-color: rgb(150, 150, 150);
  color: white;
  transition: all 200ms ease-in;
}

.study-create-textarea {
  outline: none;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  transition: all 200ms ease-in;
  white-space: pre-wrap;
}

.study-create-textarea::placeholder {
  color: rgb(200, 200, 200);
  font-size: 15px;
}

.study-create-textarea:focus {
  outline: none;
  border: 1px solid rgb(100, 100, 100);
  transition: all 200ms ease-in;
}

/* 공룡 */
.study-create-page-right {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.study-create-page-right-title {
  font-family: "KOFIHDrLEEJWTTF-B";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #dcf0be;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.3);
  padding: 30px;

  /* border: 12px solid rgba(217, 174, 129, 1);
  border-radius: 8px;
  background-color: rgba(40, 80, 15, 1);
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.3); */
}

.study-create-page-right-text {
  font-family: "GmarketSansMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;

  display: flex;
  align-items: center;
  text-align: center;
}

.study-create-page-right > img {
  width: 500px;
}
