.correct-main {
    background-color: #DCF0BE;
    padding: 40px;
}

.correct-orange {
    text-decoration-line: underline;
    text-decoration-color: #FFE1AA;
    text-decoration-thickness: 10px;
    text-underline-offset: -5px;
    margin: auto;
}

.correct-title {
    background-color: white;
    width: 50%;
    margin: auto;
    font-size: 18px;
    border-radius: 20px;
    padding: 12px 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.correct-board {
    background-color: #2B6E30;
    width: 80%;
    margin: auto;
    padding: 40px 0;
    border: 10px solid #FFE1AA;
    border-radius: 14px;
}

.correct-board-title {
    display: flex;
    justify-content: center;
    background-color: #28500F;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    margin-bottom: 18px;
}

.correct-content {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px;
    height: 500px;
}

.correct-your-code-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 450px;
}

.correct-my-code-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 450px;
}

.correct-your-code {
    background-color: #28500F;
    height: 100%;
    width: 100%;
    padding: 6px;
    border-radius: 10px;
}

.correct-my-code {
    background-color: #28500F;
    height: 100%;
    width: 100%;
    padding: 6px;
    border-radius: 10px;
}

.correct-btns {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.correctBtn {
    padding: 5px;
}

.correct-language-select {
    display: flex;
    justify-content: flex-end;
    color: black;
    margin-right: 30px;
}

.correct-code-type {
    border-radius: 10px;
    padding: 8px 18px;
    background-color: white;
    margin-bottom: 10px;
}
