.review-main {
    background-color: #DCF0BE;
    padding: 50px;
}

.review-header {
    padding-bottom: 20px;
}

h2.review-orange {
    /* text-decoration-line: underline;
    text-decoration-color: #FFE1AA;
    text-decoration-thickness: 10px;
    text-underline-offset: -5px; */
    box-shadow: inset 0 -12px 0 #ffe1aa;
    line-height: 42px;
    width: fit-content;
    margin: auto;
    font-weight: bold;
}

.review-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.review-title {
    margin: 30px auto;
    padding: 10px;
    width: fit-content;
    background-color: #28500F;
    border-radius: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.review-board {
    width: 80%;
    margin: auto;
    background-color: #2B6E30;
    border: 10px solid #FFE1AA;
    border-radius: 14px;
    color: white;
}

.review-step {
    padding: 40px;
    background-color: #28500F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
}

.review-step-btn {
    border: none;
    outline: none;
    margin: 10px 10px;
    width: 170px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    transition: transform 100ms ease-in;
}

.review-step-btn:hover {
    transform: scale(1.1);
}

.act {
    text-decoration-line: underline;
    text-decoration-thickness: 8px;
}

.review-code {
    background-color: #28500F;
    border-radius: 10px;
    width: 70%;
    padding: 14px;
    margin-left: 14px;
}

.review-code-editor {
    padding: 10px;
}

.review-btns {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
}

.reviewBtn {
    border: none;
    outline: none;
    margin: 0 10px;
    padding: 10px;
    width: 170px;
    border-radius: 8px;
    background-color: #E63246;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: transform 100ms ease-in;
}

.reviewBtn:hover {
    transform: scale(1.1);
}

.review-modal-body {
    background-color: #FFFAF0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

.review-modal-header {
    display: flex;
    justify-content: space-between;
}

.review-modal-title {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: #FFE1AA;
    text-decoration-thickness: 10px;
    text-underline-offset: -5px;
    margin: auto;
}

.review-modal-close-btn {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 0 8px;
    background-color: #E63246;
    color: white;
    width: fit-content;
    transition: transfrom 30ms ease-in;
}

.review-modal-close-btn:hover {
    transform: scale(1.1);
}

.review-modal-content {
    text-align: center;
}

.review-modal-request-btn {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    background-color: #E63246;
    color: white;
    width: fit-content;
    font-weight: bold;
    margin-top: 16px;
    transition: transfrom 30ms ease-in;
}

.review-modal-request-btn:hover {
    transform: scale(1.08);
}

.review-modal-item {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 6px 14px;
    margin-bottom: 10px;
}

.review-modal-selectBtn {
    border: none;
    outline: none;
    background-color: #C9C2B3;
    color: white;
    border-radius: 6px;
    margin-left: 20px;
}

.review-method {
    width: 80%;
    margin: auto;
    text-align: end;
}

.review-method-btn {
    border: 2px solid #E63246;
    outline: none;
    color: #E63246;
    background: white;
    border-radius: 8px;
    padding: 8px 30px 8px 10px;
}

.review-method-img {
    width: 80px;
    transform: translate(-30px, -18px)
}