p {
  user-select: none;
}

span {
  user-select: none;
}

section.main-banner {
  background-color: #d7eaba;
  padding: 80px;
}

section.description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px;
}

section.request-list {
  background-color: #fffaf0;
  padding-bottom: 100px;
}

span.highlight {
  color: coral;
  font-weight: bold;
}

.main-img {
  margin-bottom: 40px;
}

h2.underline-orange {
  box-shadow: inset 0 -12px 0 #ffe1aa;
  line-height: 42px;
  margin: auto;
  width: fit-content;
  font-size: bold;
  user-select: none;
  font-weight: bold;
  user-select: none;
}

h2.underline-green {
  box-shadow: inset 0 -12px 0 #dcf0be;
  line-height: 42px;
  width: 80%;
  margin: auto;
  font-weight: bold;
  user-select: none;
}

.description-detail {
  width: 380px;
  background-color: white;
  box-shadow: 5px 10px 10px #c2c2d6;
  padding: 20px;
}

button.correctBtn {
  width: 170px;
  border-radius: 8px;
  background-color: #e63246;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  transition: transform 30ms ease-in;
}

button.correctBtn:hover {
  transform: scale(1.1);
}

button.tabBtn {
  margin: 50px 50px;
  background: none;
  color: grey;
  border: none;
  border-radius: 0px;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  transition: transform 30ms ease-in;
}

button.tabBtn:hover {
  transform: scale(1.1);
}

button.active {
  color: black;
  box-shadow: inset 0 -12px 0 #dcf0be;
  line-height: 32px;
  width: 12%;
  margin: auto;
}

.review-list-header {
  background-color: #d7eaba;
  border-radius: 8px;
  font-size: large;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 14px;
}

.review-list-item {
  background-color: white;
  border-radius: 8px;
  font-size: medium;
  padding: 10px;
  margin-bottom: 8px;
}
